.contenedor{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgb(250, 240, 240);
    padding: 2%;
    margin-top: 8%;
    box-shadow: 10px 5px 0px 0px rgb(228, 100, 100);
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
}

.titulo{
    text-align: center;
}
 
.dropdown{
    background-color: #ffb6b6;
}
